/*/ ====================> MOBILE DEVICES <==================== /*/

@media (max-width: 1000px) {

    /*/ ====================> UNIVERSAL <==================== /*/
    body {
        font-size: 3vw;
    }
    
    /*/ NAVBAR /*/
    .navbar {
        z-index: 2;
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 10vw;
        padding: 3vw; 
        transition: 0.4s;
        border-bottom: #1f1f1f 0.2vw solid;
        background-color: #f1f1f1;
        color: #1f1f1f;
    }
    
    .navbar .homebtn {
        height: 8vw;
    }
    .navbar .homebtn img {
        margin: 0; 
        height: 8vw;
        transition: 0.4s;
    }
    
    .navbar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
    }
    
    .navbar ul li {
        margin-left: 3vw;
        display: flex;
        align-items: center;
    }
    
    .navbar ul li a {
        text-decoration: none;
        color: #1f1f1f;
    }
    
    .navbar ul a:hover {
        color: #a3cc39; 
    }
    
    .top-navbar {
        z-index: 2;
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 10vw;
        padding: 3vw;
        transition: 0.4s;
        border-bottom: none;
        background-color: rgba(31, 31, 31, 0);
        color: #1f1f1f;
    }
    
    .top-navbar img {
        margin: 0;
        height: 8vw;
        transition: 0.4s;
    }
    
    .top-navbar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
    }
    
    .top-navbar ul li {
        margin-left: 3vw;
        display: flex;
        align-items: center;
    }
    
    .top-navbar ul li a {
        text-decoration: none;
        color: #f1f1f1;
    }
    
    .top-navbar ul a:hover {
        color: #a3cc39; 
    }
    
    /*/ FOOTER /*/
    footer {
        background-color: #f1f1f1;
        color: #1f1f1f;
    }
    .footerMain {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 3vw;
        border-top: #1f1f1f 0.2vw solid;
        font-size: 2vw;
    }
    
    .footerMain img {
        height: 10vw;
    }
    
    .footerMain div h2{
        font-size: 3vw;
        padding-bottom: 1vw;
    }
    
    .footerMain div ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    .footerMain div ul li a{
        text-decoration: none;
        color: #1f1f1f;
    }
    
    .footerMain a:hover {
        color: #a3cc39; 
    }
    
    .footerCopyright {
        display: flex;
        justify-content: space-between;
        border-top: #1f1f1f 0.1vw solid;
        font-size: 1.5vw;
        padding: 1vw;
        padding-inline: 3vw;
    }
    .footerCopyright a{
        text-decoration: none;
        color: #1f1f1f;
    }
    
    .footerCopyright a:hover {
        color: #a3cc39;
    }
    
    .contenuti {
        background-color: #1f1f1f;
        width: auto;
        height: 100vw;
        border: #1f1f1f solid 0.2vw;
    }
    
    
    /*/ ====================> HOME PAGE <==================== /*/
    #welcome {
        width: 100vw;
        height: 100vw;
        position: relative;
        overflow: hidden;
        border-bottom: #1f1f1f 0.2vw solid;
        z-index: -1;
    }
    
    #welcome h1{
        position: absolute;
        padding-top: 70vw;
        padding-left: 8vw;
        z-index: 30;
        font-size: 6vw;
        color:#f1f1f1
    }
    
    .welcomeSlides {    
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        white-space: normal;
        filter: brightness(50%); 
        opacity: 0;
        transition: opacity 1s;
    }
    
    .welcomeSlides.show {
        opacity: 1;
    }
    
    .home1 {
        padding-inline: 6vw;
        padding-bottom: 6vw;
        padding-top: 5vw;
        border-bottom: #1f1f1f solid 0.2vw;
    }
    
    .home1 h2 {
        text-align: center;
        padding-bottom: 3vw;
        font-size: 4.5vw;
    }
    
    .home1-1{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    
    .home1-2 {
        padding-inline: 3vw;
    }
    
    .home1-2 h2 {
        font-size: 3vw;
        padding-bottom: 1vw;
        color: #a3cc39;
    }
    
    .home1-2 p {
        text-align: center;
        font-size: 2vw;
    }
    
    .home-parallax1 {
        background-image: url("../assets/home/home2.jpg");
        min-height: 40vw;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .home2 {
        padding: 6vw;
        padding-inline: 12vw;
        background-color: #1f1f1f;
        color: #f1f1f1;
        text-align: end;
        border-bottom: #a3cc39 solid 0.2vw;
    }
    
    .home2 h2 {
        font-size: 4.5vw;  
        padding-bottom: 3vw;
        color: #a3cc39;   
    }
    
    .home2 p {
        font-size: 3vw;
    }
    
    .home3 {
        padding: 6vw;
        padding-inline: 12vw;
        border-bottom: #1f1f1f solid 0.2vw;
    }
    
    .home3 h2 {
        font-size: 4.5vw;
        padding-bottom: 3vw;     
    }
    
    .home3 p {
        font-size: 3vw;
    }
    
    .home-parallax2 {
        background-image: url("../assets/home/home3.jpg");
        min-height: 40vw;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .home4 {
        padding: 6vw;
        padding-inline: 12vw;
        text-align: center; 
        background-color: #1f1f1f;
        border-top: #1f1f1f solid 0.2vw;
        color: #f1f1f1;
    }
    
    .home4 a {
        text-decoration: none;
        color: #f1f1f1;
    }
    .home4 h2 {
        font-size: 4.5vw; 
        padding-bottom: 3vw;      
    }
    .home4 h2:hover {
        color: #a3cc39;
        cursor: pointer;
    }
    
    .home4 p {
        font-size: 2.5vw;
    }
    
    
    /*/ ====================> IMMOBILI <==================== /*/
    #immobili {
        overflow: hidden;
        position: relative;
        height: 100vw;
        width: 100vw;
        background-color: #1f1f1f;
        color: #f1f1f1;
        text-align: center;
        border-bottom: #1f1f1f 0.2vw solid;
    }
    
    #immobili img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        z-index: -1;
        filter: brightness(30%);
    }
    #immobili h1{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }
    
    #immobili2 {
        margin: 10vw;
    }
    
    #immobili2 img{
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: #1f1f1f 0.2vw solid;
    }
    
    #immobili3 {
        display: flex;
        margin: 10vw;
        justify-content: space-between;
        
    }
    
    #immobili3 div {
        width: 35vw;
    }
    
    #immobili3 a img {
        width: 100%;
        border: #1f1f1f 0.2vw solid;
    }
    
    #immobili3 h2 {
        text-align: center;
        margin-bottom: 3vw;
    }
    
    
    /* Slideshow container */
    
    .slideshow-container {
      max-width: 1000px;
      position: relative;
      margin: auto;
    }
    
    .mySlides {
      display: none;
    }
    
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
    
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    
    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }
    
    .text {
      color: #f2f2f2;
      font-size: 15px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
    }
    
    .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }
    
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    
    .active, .dot:hover {
      background-color: #717171;
    }
    
    .fade {
      animation-name: fade;
      animation-duration: 1.5s;
    }
    
    @keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
    }
    
    
    /*/ ====================> SISTEMI COSTRUTTIVI <==================== /*/
    
    
    /*/ ====================> CHI SIAMO <==================== /*/
    #about-section-top {
        overflow: hidden;
        position: relative;
        height: 100vw;
        width: 100vw;
        background-color: #1f1f1f;
        color: #f1f1f1;
        text-align: center;
    }
    
    #about-section-top img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        z-index: -1;
        filter: brightness(30%);
    }
    #about-section-top h1{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }
    
    #about-section {
        padding-inline: 12vw;
        padding-top: 6vw;
        padding-bottom: 6vw;
        margin-bottom: 6vw;
        display: flex;
        align-items: center;
        border-bottom: #1f1f1f solid 0.2vw;
        border-top: #1f1f1f solid 0.2vw;
    }
    
    #about-section img {
        height: 30vw;
        max-height: 60vw;
        margin-right: 6vw;
        border: #1f1f1f solid 0.2vw;
    }
    
    #about-section p {
        font-size: 3vw;
        margin-bottom: 3vw;
    }
    #team-section{
        padding-bottom: 6vw;
        margin-inline: 6vw;
    }
    
    #team-section h2 {
        text-align: center;
        font-size: 3.5vw;
        margin-bottom: 6vw;
    }
    
    #team-members {
        display: flex;
        justify-content: space-evenly;
    }
    
    #team-members div img{
        height: 25vw;
        border: #1f1f1f solid 0.2vw;
    }
    
    #team-members div p{
        text-align: center;
        font-size: 2.5vw;
    }
    
    /*/ ====================> CONTATTI <==================== /*/
    
    #contatti1 {
        position: relative;
        overflow: hidden;
        height: 100vh;
        width: 100vw;
        background-color: #1f1f1f;
        color: #f1f1f1;
        text-align: center;
        border-bottom: #1f1f1f 0.2vw solid;
    }
    
    #contatti1 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        z-index: -1;
        filter: brightness(30%);
    }
    
    #contatti1 div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }
    
    #contatti1 h1{
        font-size: 6vw;
        padding-bottom: 3vw;
    }
    #contatti1 p {
        font-size: 3vw;
    }
    
    #contatti2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 3vw;   
        padding-inline: 3vw;
    }
    
    #contatti2 .contatti2-1 {
        margin: 3vw;
        padding: 3vw;
        border: #1f1f1f solid 0.2vw;
    }
    
    #contatti2 .contatti2-1 h2{
        font-size: 3vw;
    }
    
    #contatti2 .contatti2-2 {
        margin: 3vw;
        border: #1f1f1f solid 0.2vw;
    }
}